@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Semibold.woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fbfbfb;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #0c0c0c;
}
.header-social-list {
}
.header-social-item {
}
.header-social-link {
}

/*Main*/
.main-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.87;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.main-title-span {
  color: #3350e9;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}

.hero-scroll-link:hover,
.hero-scroll-link:focus {
  color: #3350E9;
}

/*Catalog*/
.catalog-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.catalog-list-item {
  background: #f3f3f3;
}

.catalog-list-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.catalog-list-item-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

/*Sale*/
.sale-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.sale-list-item,
.sale-img {
  background-color: #F3F3F3;  
}

.product-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.product-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}
.product-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
}
.product-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fbfbfb;
}

/*Footer*/
.footer-logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0,02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fbfbfb;;
}

.footer-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}

.tel:hover,
.tel:focus {
  color: #0c0c0c;
  background-color: #fbfbfb;
}

.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28
}

.footer-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fbfbfb;
  font-style: normal;
}

.footer-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}